jsonschema==4.9.1
keras==2.9.0
Keras-Preprocessing==1.1.2
matplotlib==3.5.3
numpy==1.23.1
opencv-python==4.6.0.66
tensorflow==2.9.2
tensorflow-estimator==2.9.0
tensorflow-io-gcs-filesystem==0.26.0
